@font-face {
    font-family: 'MontserratRegular';
    src: url('/static/fonts/MontserratRegular.eot');
    src: url('/static/fonts/MontserratRegular.eot') format('embedded-opentype'),
         url('/static/fonts/MontserratRegular.woff2') format('woff2'),
         url('/static/fonts/MontserratRegular.woff') format('woff'),
         url('/static/fonts/MontserratRegular.ttf') format('truetype'),
         url('/static/fonts/MontserratRegular.svg#MontserratRegular') format('svg');
}

body{
	background-color: #E6E4E4;
	font-family: "MontserratRegular";
}

h2{
	margin: 10px 0px;
}

p{
	font-size: 16px;
}

a.btn{
	background-color: #FFBD09;
	color: black;
	text-decoration: none;
}
a.btn:hover{
	text-decoration: underline;
}

.hidden{
	display: none;
}

#more{
	float: right;
	margin-top: 17px
}

.status{
	font-weight: bold;
	text-align: center;
	font-size: 15px;
}

#meio{
	width: 965px;
	margin: 0px auto;
}

#screens>li{
	height: 600px;
	width: 800px;
	text-align: center;
}

#screens>li>img{
	max-height: 600px;
	max-width: 800px;
}

.icon{
	height: 155px;
	width: inherit;
}

#itens{
	display: inline-block;
	margin-bottom: 0px;
	height: 235px;
	margin-bottom: 20px;
}

.item {
	background-color: #F2F2F2;
	border: 5px solid white;
	margin-bottom: 20px;
	padding: 10px;
}

.box:hover{
	border: 5px solid #FFBD09;
}

.wild{
	width: 100%;
}

.box{
	width: 125px;
	height: 205px;
	float: left;
	margin-right: 7px;
	text-align: center;
	font-weight: bold;
}

.box:last-child{
	margin-right: 0px;
}

.item.box:hover{
	cursor: pointer;
}

#footer {
	text-align: center;
	display: inline-block;
	width: 100%;
	color: gray;
	font-size: 13px;
}
#footer>a{
	color: gray;
	font-size: 13px;
	text-decoration: none;
}
#footer>a:hover{
	text-decoration: underline;
}

.bold{
	font-weight: bold
}

.test{
	margin: 15px 15px;
	float: right;
	font-weight: bold
}

a.ttc{
	color: black;
	font-size: 16px;
	text-decoration: none;
}
a.ttc{
	text-decoration: none;
}

.center{
	text-align: center;
}

.msg{
	font-size: 13px;
	margin: 10px 0px 0px;
}

#less{
	float: right;
}

/* ========= jCarrousel ========= */


.jcarousel-wrapper {
    margin: 20px auto;
    position: relative;
    border: 10px solid #fff;
    width: 800px;
    height: 600px;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 0 2px #999;
       -moz-box-shadow: 0 0 2px #999;
            box-shadow: 0 0 2px #999;
}


.jcarousel-wrapper .credits {
    position: absolute;
    background-color: black;
    padding: 5px;
    right: 15px;
    bottom: 0;
    font-size: 13px;
    color: #fff;
    opacity: .66;
}

.jcarousel-wrapper .credits a {
    color: #fff;
}

.jcarousel {
    position: relative;
    overflow: hidden;
}

.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    display:table-cell; 
    vertical-align:middle; 
    text-align:center;
}

/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    top: 200px;
    width: 30px;
    height: 30px;
    text-align: center;
    background: #4E443C;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    font: 24px/27px Arial, sans-serif;
    -webkit-border-radius: 30px;
       -moz-border-radius: 30px;
            border-radius: 30px;
    -webkit-box-shadow: 0 0 2px #999;
       -moz-box-shadow: 0 0 2px #999;
            box-shadow: 0 0 2px #999;
}

.jcarousel-control-prev {
    left: -50px;
}

.jcarousel-control-next {
    right: -50px;
}

.jcarousel-control-prev:hover span,
.jcarousel-control-next:hover span {
    display: block;
}

.jcarousel-control-prev.inactive,
.jcarousel-control-next.inactive {
    display: none;
}

/** Carousel Pagination **/

.jcarousel-pagination {
    position: absolute;
    bottom: 0;
    left: 15px;
}

.jcarousel-pagination a {
    text-decoration: none;
    display: inline-block;
    
    font-size: 11px;
    line-height: 14px;
    min-width: 14px;
    
    background: #fff;
    color: #4E443C;
    border-radius: 14px;
    padding: 3px;
    text-align: center;
    
    margin-right: 2px;
    
    opacity: .75;
}

.jcarousel-pagination a.active {
    background: #4E443C;
    color: #fff;
    opacity: 1;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
}