{% extends "base.html" %}
{% block content %}
  <div id="meio">
    <div id='main' class='item' style='padding: 20px'>
	  <p>This website was produced by <a target='_blank' href='https://tacticaltech.org'>Tactical Technology Collective</a> as an awareness raising and training tool as part of Internew's <a target='_blank' href='https://level-up.cc'>LevelUp</a> project.</p>

	  <p>Disclaimer: This project was designed to encourage viewers to explore the sometimes complicated world of website certificates./Documentation in this website is provided as is and we exclude and expressly disclaim all express and implied warranties or conditions of any kind, including, but not limited to, the implied warranties of merchantability and fitness for a particular purpose so far as such disclaimer is permitted. In no event shall Tactical Technology Collective or any agent or representatives thereof be liable for any direct, indirect, incidental, ls, exemplary, or consequential damages (including, but not limited to, procurement of substitute goods or slsta, or profits; or business interruption), however caused under any theory of liability, arising in any way out of the use of or inability to make use of this software, even if advised of the possibility of such damage. Nothing in this disclaimer affects your statutory rights.</p>

	  <p>Special thanks goes to <a target='_blank' href='https://thenounproject.com/Julihan/'>Julien Deveaux</a> who created the lock icons that were used for this project.</p>
  </div>
</div>
{% endblock %}
{% block footer %}
  <div id="footer">
    <a href="http://tacticaltech.org" target="_blank">Tactical Technology Collective</a>
  </div>
{% endblock %}