{% extends "base.html" %}
{% block content %}
  <div id="meio">
    <div id='main' class='item' style='padding: 20px'>
      <p><span class='bold'>About: CertCheck.me </span> is a small web project by <a href='https://tacticaltech.org' target='_blank' class='ttc'>Tactical Technology Collective</a> explaining security certificates while browsing internet using HTTPS. It shows how to read a certificate and understands risks of using unverified ones. It also shows ways in which certificates can be manipulated so that the manipulating side can collect private information being tranfered over HTTPS - such as logins, passwords and other sensitive data.
    </p>
  </div>
</div>
{% endblock %}
{% block footer %}
  <div id="footer">
    <a href="http://tacticaltech.org" target="_blank">Tactical Technology Collective</a>
  </div>
{% endblock %}