<html>
  <head>
      <meta http-equiv="content-type" content="text/html; charset=utf-8" />
      <meta http-equiv="content-language" content="en" />
      <meta name="description" content="Test your browser on various https SSL certificates">
      <title>CertCheck your browser</title>
      <link rel="shortcut icon" href="/static/img/favicon.ico">
      <script src="/static/js/jquery-1.11.2.min.js"></script>
      <script src="/static/js/jcarousel.min.js"></script>
      <script src="/static/js/screens.js"></script>
      {% block scripts %}
      {% endblock %}
      {% block styles %}
      {% endblock %}
      <link rel="stylesheet" href="/static/css/style.css" type="text/css" media="screen" charset="utf-8" />
  </head>

  <body>
    <div id="content">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}
      {% block content %}
      {% endblock %}
    </div>
    {% block footer %}
    {% endblock %}
  </body>
</html>