<html>
  <head>
      <meta http-equiv="content-type" content="text/html; charset=utf-8" />
      <meta http-equiv="content-language" content="en" />
      <meta name="description" content="Test your browser on various https SSL certificates">
      <title>CertCheck your browser</title>
      <link rel="shortcut icon" href="/static/img/favicon.ico">
      <script src="/static/js/jquery-1.11.2.min.js"></script>
      {% block scripts %}
      {% endblock %}
      {% block styles %}
      {% endblock %}
      <script>
         $(document).ready(function() {

            function setInfo(elem){
              var innerHTML = '<a class="btn test" href="'+ $(elem).attr('to') +'">[ test me! ]</a>' + "<h2>About " + $(elem).children().next().text() + "</h2><p>" + $(elem).attr('info') + '</p>';
              $('#info').html(innerHTML);
            }

            var actual = $(".item[cert='{{cert}}']")
            actual.css('border', '5px solid #FFBD09')
            setInfo(actual);

            $('.item.box')
              .click(function(){ setInfo($(this)) })
              .hover(
                function(){
                  icon = $(this).children();
                  icon.attr('off', icon.attr('src'));
                  icon.attr('src', '/static/img/scary.svg');
                },
                function(){
                  icon.attr('src', icon.attr('off'));
                }
              )

            $('#more').click(function(){
              $(this).hide();
              $('.hidden').fadeIn(600);
            })

            $('#less').click(function(){
              $('.hidden').fadeOut(400, function(){ 
                $('#more').show()
              });
            })
          });
      </script>
      <link rel="stylesheet" href="/static/css/style.css" type="text/css" media="screen" charset="utf-8" />
  </head>

  <body>
    <div id="content">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}
      {% block content %}
      {% endblock %}
    </div>
    {% block footer %}
    {% endblock %}
  </body>
</html>