{% extends "base.html" %}


{% block scripts %}
<noscript>
  You need javascript enabled to properly interact with this page.
</noscript>

<script>
 $(document).ready(function() {

    preLoad = new Image(); 
    preLoad.src="/static/img/scary.svg";

    function setInfo(elem){
      var title = $(elem).children().next().text();
      var certi = $(elem).attr('cert');
      var innerHTML = '<a class="btn test" href="'+ $(elem).attr('to') +'">[ test me! ]</a>' + "<h2>About " + title + "</h2><p>" + $(elem).attr('info') + '</p>';
      $('#screens').empty();
      $('#info').html(innerHTML);
      var shots = screens["{{browser}}"][certi];
      var path = "/static/img/shots/{{browser}}/";
      $.each(shots, function(i, e){
        console.log(e);
        $('#screens').append($('<hr/><img src="'+ path + e +'"/>'));
      })
    }

    var actual = $(".item[cert='{{cert}}']")
    actual.css('border', '5px solid #FFBD09')
    setInfo(actual);

    $('.item.box')
      .click(function(){ 
        setInfo($(this));
        $('.test').hide().fadeIn(600);
        $('.item.box').css('border', '');
        $(this).css('border', '5px solid #FFBD09')
      })
      .hover(
        function(){
          icon = $(this).children();
          icon.attr('off', icon.attr('src'));
          icon.attr('src', '/static/img/scary.svg');
        },
        function(){
          icon.attr('src', icon.attr('off'));
        }
      )

    $('#more').click(function(){
      $(this).hide();
      $('.hidden').fadeIn(600);
    })

    $('#less').click(function(){
      $('.hidden').fadeOut(400, function(){ 
        $('#more').show()
      });
    })
  });
</script>
{% endblock %}

{% block content %}
  <div id="meio">
    <div id='main' class='item' style='padding: 20px'>
      <p><span class='bold'>CertCheck.me </span> is a small web project by <a href='https://tacticaltech.org' target='_blank' class='ttc'>Tactical Technology Collective</a> explaining security certificates while browsing internet using HTTPS. It shows how to read a certificate and understands risks of using unverified ones. It also shows ways in which certificates can be manipulated so that the manipulating side can collect private information being tranfered over HTTPS - such as logins, passwords and other sensitive data.
      <a href='#' class='btn' id='more'>[ read more &#x25BE; ]</a>
    </p>
    <div class='hidden'>
      <p>When you surf on the internet a lot of things happen. Many of these develop out of your control. For example, when you browse the internet using HTTPS, it means your connection is encrypted. You probably heard about certificates. To make sure that it is encrypted with the key of the website you visit, a Certificate Authority (CA) issue a certificate to the website owners. When you go to websites such as eBay or your bank, a certificate is sent to your browser to make sure that you are exchanging your data with the right website and not with an attacker who wants to intercept your communication.</p>
      <p> The problem is that certificates could be manipulated by attackers to start Man in the Middle (MITM) attacks: basically attackers would impersonate the websites your are trying to connect to and intercept your data). And when browsers detect a manipulated certificate they do not explain to the users the risks in a clear way. That is why we invite you to play with this website and test your browser to see how it reacts in the following scenarios. Some of them simulate «attack scenarios», but don't worry, they are completely harmless. They are only here to make you familiar with the reactions of your browser to various HTTPS related events.</p>
      <a href='#' class='btn' id='less'>[ less &#x25B4; ]</a>
      </br>
    </div>
  </div>
  <p class='item status center'>You are in {{browser}} browser with "{{cert}}" certificate. Click on the funny locks and test it!</p>
  <div id='itens'>
    <div style='background-color: #AFDDA0' to='/def' class='item box' cert='Default CA/cert' info="This is the normal case: you visit a site and it presents its genuine certificate, which is genuinely signed by the real Certificate Authority.">
      <img src='/static/img/happy.svg' class='icon'>
      <span class='bold'>Miss Authority</span>
    </div>
    <div style='background-color: #F0CD5C' to='/sim' class='item box' cert='Default CA, similar cert' info="In this case the issuing authority (or someone controlling it) produced a second website certificate. This could be because the previous website certificate expired or when the services is available via multiple servers. This could be legitimate or not: it depends on a case-by-case basis. If you deal with sensitive website (e.g. your online bank), you might want to avoid services that use such practices. In the worst case someone has taken illegitimate control of the CA and produced a new certificate to intercept the communication between you and the website you are visiting.">
      <img src='/static/img/non.svg' class='icon'>
      <span class='bold'>Mister Similar</span>
    </div>
    <div style='background-color: #F0CD5C' to='/res' class='item box' cert='Similar CA, similar cert' info="This is a valid Certificate Authority that has been used to create another certificate for this website. This can happen with content delivery networks – which would be legitimate – but also during MITM attacks (i.e. when someone is able to trick the CA to let it believe it is issuing  the certificate to the legal owner or when some 3rd party is coercing the issuing CA to issue a certificate for interception). This could happen also if you have an enterprise firewall that filters content.">
      <img src='/static/img/non.svg' class='icon'>
      <span class='bold'>Similar Jr.</span>
    </div>
    <div style='background-color: #F0CD5C' to='/oth' class='item box' cert='Self-signed cert' info="Here you go with a completely unknown Certificate Authority and certificate. Unknown in this case means that the certificate is not shipped by your browser. Basically this can mean also different things: [1] this is a legitimate site, which does not want to buy a certificate from a CA (and then you should verify the fingerprints of the site), or [2] this is a certificate from a valid CA, which is not favored by the ruling class of CAs, but if you trust the CA you can import this yourself, or [3] this is really a MITM attack. However, if this would be a MITM attack on a certificate with a trusted CA in your browser it would be naive from the attacker’s point of view, yet for sites using self-signed certificates it's quite easy to MITM the connection if the fingerprints of the genuine site are not verified dilligently.">
      <img src='/static/img/non.svg' class='icon'>
      <span class='bold'>Doctor Self-Signed</span>
    </div>
    <div style='background-color: #F0CD5C' to='/cac' class='item box' cert='A valid but untrusted CA, real cert' info="This is the case of a certificate made by a CAcert, which is a community ran by a community. CAcert is a pariah among the for-profit CA industry – and it's not included in any of the browsers' certificate «accept lists». However, CAcert is supported by a vibrant community which makes it quite common. This is one of the few CAs that you might want to install, but some browsers do not seem to like it and will raise alert messages.">
      <img src='/static/img/non.svg' class='icon'>
      <span class='bold'>Sir Unknown Valid</span>
    </div>
    <div style='background-color: #FF7878' to='/mtm' class='item box' cert='Faked cert and CA' info="This is a completely forged certificate from a forged Certificate Authority. Basically the counterfeited certificate looks almost the same of the real one in scenario (2.a), except for the fingerprints and a few less obvious details. This situation simulates what could be a moderately sophisticated attack.">
      <img src='/static/img/sad.svg' class='icon'>
      <span class='bold'>Jack Middle Attacker</span>
    </div>
  </div>
  <div class='item' style='width: 935px'>
    <div id='info'>About</div>
    <div id='screens'></div>
  </div>
{% endblock %}

{% block footer %}
  <div id="footer">
    <a href="http://tacticaltech.org" target="_blank">Tactical Technology Collective</a>
    <span>|</span>
    <a href="/about">About</a>
  </div>
{% endblock %}