{% extends "base.html" %}


{% block scripts %}
<script src="/static/js/jquery-1.11.2.min.js"></script>
<script src="/static/js/jcarousel.min.js"></script>
<script src="/static/js/screens.js"></script>

<noscript>
  You need javascript enabled to properly interact with this page.
</noscript>

<script>
 $(document).ready(function() {

    preLoad = new Image();
    preLoad.src="/static/img/scary.svg";

    $('.jcarousel').on('jcarousel:fullyvisiblein', 'li', function(event, carousel) {
      var description = $('.jcarousel').jcarousel('visible').children().attr('alt');
      $('.credits').html(description);
    });

    function setInfo(elem){
      var title = $(elem).children().next().text();
      var certi = $(elem).attr('cert');
      var innerHTML = '<a target="_blank" class="btn test" href="'+ $(elem).attr('to') +'">[ test me! ]</a>' + "<h2>About " + title + "</h2><p>" + $(elem).attr('info') + '</p>';
      $('#screens').empty();
      $('#info').html(innerHTML);
      var browserName = "{{browser}}";
      //when user's browser is not one of this, set Chrome caroussel images
      if (['Chrome', 'Safari', 'Firefox'].indexOf(browserName) < 0){
        browserName = 'Chrome';
      }
      var shots = screens[browserName][certi];
      var path = "/static/img/shots/"+ browserName +"/";
      if (window.location.hostname.indexOf('certcheck.me')>0){
        var path = "https://certcheck.me" + path;
      }
      $.each(shots, function(i, e){
        $('#screens').append($('<li><img alt="'+ e['label'] +'" src="'+ path + e['src'] +'"/></li>'));
        //
      })
      var jcarousel = $('.jcarousel').jcarousel();
      $('.jcarousel').jcarousel('scroll', 0);
      jcarousel.jcarousel('reload');
    }

    var actual = $(".item[cert='{{cert}}']")
    actual.css('border', '5px solid #FFBD09')
    setInfo(actual);

    $('.item.box')
      .click(function(){
        setInfo($(this));
        $('.test').hide().fadeIn(600);
        $('.item.box').css('border', '');
        $(this).css('border', '5px solid #FFBD09')
      })
      .hover(
        function(){
          icon = $(this).children();
          icon.attr('off', icon.attr('src'));
          icon.attr('src', '/static/img/scary.svg');
        },
        function(){
          icon.attr('src', icon.attr('off'));
        }
      )

    $('#more').click(function(){
      $(this).hide();
      $('.hidden').fadeIn(600);
    })

    $('#less').click(function(){
      $('.hidden').fadeOut(400, function(){
        $('#more').show()
      });
    })
  });
</script>
{% endblock %}

{% block content %}
  <div id="meio">
    <div id='main' class='item' style='padding: 20px'>
      <p><span class='bold'>CertCheck.me </span> is a small web project by <a href='https://tacticaltech.org' target='_blank' class='ttc'>Tactical Technology Collective</a> that explains the role of the certificate when you attempt to communicate securely with a website through HTTPS. It will help you read security warnings and understand the risks associated with unverified certificates. It also demonstrates how someone with the ability to monitor your Internet traffic could manipulate a site's certificate in order to collect information that is supposed to be encrypted, such as your password and any sensitive data you might be sending to or receiving from the website.
      <a href='#' class='btn' id='more'>[ read more &#x25BE; ]</a>
    </p>
    <div class='hidden'>
      <p>When you browse websites online, there is a lot happening in the background. If you access an HTTPS website, for example, your connection is encrypted. You may have heard about "certificates," which are an important part of how this sort of encryption works. In order to reassure your web browser that you are not accidentally exchanging (encrypted) information with an eavesdropper, HTTPS websites will present you with a certificate that has been signed by a trusted Certificate Authority.</p>
      <p>This certificate tells your browser that the encryption "key" you are about to rely on to protect your traffic actually belongs to the HTTPS website you are visiting. Without this reassurance, your browser will worry that an attacker might be reading everything you send to or receive from that website... and then passing it along (re-encrypted) to its original destination. Worse yet, in the absence of a trusted certificate, there would be no way for you, or the website, to know that you were being spied on. This is called a Man-in-the-Middle attack.</p>
      <p>Fortunately, your web browser is pretty good at recognising suspicious certificates. But, when it gets nervous, it's not so good at explaining why. So, we invite you to play with this website and test your browser to see how it reacts to the following scenarios. A few of them simulate attacks, but don't worry, they are completely harmless. They are just a way to for you to familiarise yourself with how your web browser describes different types of certificates.</p>
      <a href='#' class='btn' id='less'>[ less &#x25B4; ]</a>
      </br>
    </div>
  </div>
  <p class='item status center'>You are in {{browser}} browser with "{{cert}}" certificate. <br/ >Select a padlock and click [ test me! ] to see how different types of certificates affect your browser.</p>
  <div id='itens'>
    <div style='background-color: #AFDDA0' to='/def' class='item box' cert='Default CA/cert' info="This is the normal case. You visit a site and it presents a genuine certificate that has been properly signed by a legitimate Certificate Authority.">
      <img src='/static/img/happy.svg' class='icon'>
      <span class='bold'>Ms Authority</span>
    </div>
    <div style='background-color: #F0CD5C' to='/sim' class='item box' cert='Default CA, similar cert' info="In this case, the website (or someone manipulating your connection to it) has presented your browser with a second valid certificate, signed by the same Certificate Authority (CA). This could be because the previous certificate expired or because the website is accessible, via the same web address, from multiple servers.
     <br/><br/>
    In the worst case, however, an attacker may have taken control of this particular CA and produced a new certificate in order to intercept HTTPS traffic to and from the website. While such attacks are believed to be relatively uncommon, there is no way to tell whether or not a certificate like this is legitimate just by examining it closely.
    <br/><br/>
    If this is a website with which you exchange sensitive information, such as an email provider or a cloud storage service, you might want to keep an eye on the certificates it sends you, over the course of a week or so, to determine whether or not it behaves this way normally. If it does not (and assuming its usual certificate was not about to expire),  then you have good reason to be concerned if you see Mister Similar.
    <br/><br/>
    And remember, HTTPS encryption is important for websites that allow you 'to do' stuff (like making purchases, transferring money, downloading software or announcing things publicly) in addition to those with which you exchange confidential data. In fact, if you reuse your passphrases - which you shouldn't! - HTTPS is important for any website that requires you to sign in, because it is the only thing that hides your passphrase from online eavesdroppers.">
      <img src='/static/img/non.svg' class='icon'>
      <span class='bold'>Mister Similar</span>
    </div>
    <div style='background-color: #F0CD5C' to='/res' class='item box' cert='Similar CA, similar cert' info="In this case, the website (or someone manipulating your connection to it) has presented your browser with second valid certificate, signed by a different Certificate Authority (CA). This could mean that a content delivery network (CDN) is serving the website from multiple locations around the world, in which case you might notice several different certificates showing up for the same site.
    <br/><br/>
    However, this could also be a sign that someone has taken control of a CA and produced a new certificate in order to intercept HTTPS traffic to and from the website. Such attacks are believed to be relatively uncommon, though they are easier to carry out than the attack described in the previous scenario, which required control of the website's actual CA. Unfortunately, there is no way to tell whether or not a certificate like this is legitimate just by examining it closely.
    <br/><br/>
    If this is a website with which you exchange sensitive information, such as an email provider or a cloud storage service, you might want to keep an eye on the certificates it sends you, over the course of a week or so, to determine whether or not it behaves this way normally. If it does not (and assuming its usual certificate was not about to expire), then you have good reason to be concerned if you see Similar Jr.
    <br/><br/>
    And remember, HTTPS encryption is important for websites that allow you to 'do stuff' (like making purchases, transferring money, downloading software or announcing things publicly) in addition to those with which you exchange confidential data. In fact, if you reuse your passphrases - which you shouldn't! -  HTTPS is important for any website that requires you to sign in, because it is the only thing that hides your passphrase from online eavesdroppers.">
      <img src='/static/img/non.svg' class='icon'>
      <span class='bold'>Similar Jr.</span>
    </div>
    <div style='background-color: #F0CD5C' to='/cac' class='item box' cert='A valid but untrusted CA, real cert' info="This is the case of a certificate made by a CAcert, which is a community ran by a community. CAcert is a pariah among the for-profit CA industry – and it's not included in any of the browsers' certificate «accept lists». However, CAcert is supported by a vibrant community which makes it quite common. This is one of the few CAs that you might want to install, but some browsers do not seem to like it and will raise alert messages.">
      <img src='/static/img/non.svg' class='icon'>
      <span class='bold'>Capt. Cert</span>
    </div>
    <div style='background-color: #F0CD5C' to='/oth' class='item box' cert='Self-signed cert' info="In this case, the website (or someone manipulating your connection to it) has presented a certificate that was signed using a key that your browser does not recognise. It is extremely easy to generate such certificate, which makes this scenario fundamentally different from the two previous examples. As a result, your web browser will show you a warning and refuse to load the page until you reassure it that you know what you are doing.
     <br/><br/>
    It is very unlikely that a large, well known, commercial website will present a self-signed certificate. Other legitimate services do use them, however, either because they can not afford to purchase a signed certificate or because they object to the notion of a corporate 'trust market.'
    <br/><br/>
    Regardless, before you send anything sensitive to an HTTPS website with a self-signed certificate, you will need a reliable way to learn the 'fingerprint' of the key that it uses to protect its traffic. You can then compare this fingerprint with the one that your browser reports when you visit the website. If they match, and you tell your browser that everything is going to be okay, it will let you access the site (and warn you if it tries to use a different key at some point in the future).
    <br/><br/>
    Unfortunately, you can not yet believe anything published on the website itself, so this process typically requires asking someone who already knows the fingerprint—and whom you trust—to share it with you. And, while fingerprints are not at all confidential, you do need to make sure you get the right one, which means nobody can be allowed to tamper with it as it makes its way to you. So, if you can not meet this person face to face (and assuming you have not already worked out a secure means of communication), you should consider asking over the phone or using an online voice or video service. As long as you recognise her voice when she reads off that fingerprint, you should be fine.">
      <img src='/static/img/non.svg' class='icon'>
      <span class='bold'>Doctor Self-Signed</span>
    </div>
    <div style='background-color: #FF7878' to='/mtm' class='item box' cert='Faked cert and CA' info="This is a completely forged certificate from a forged Certificate Authority. Basically the counterfeited certificate looks almost the same of the real one in scenario (2.a), except for the fingerprints and a few less obvious details. This situation simulates what could be a moderately sophisticated attack.">
      <img src='/static/img/sad.svg' class='icon'>
      <span class='bold'>Maria in the Middle</span>
    </div>
  </div>
  <div class='item' style='width: 935px'>
    <div id='info'>About</div>
     <div class="jcarousel-wrapper">
        <div class="jcarousel">
            <ul id='screens'></ul>
        </div>
        <p class="credits"></p>
        <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
        <a href="#" class="jcarousel-control-next">&rsaquo;</a>
        <p class="jcarousel-pagination"></p>
    </div>
  </div>
{% endblock %}

{% block footer %}
  <div id="footer">
    <a href="http://tacticaltech.org" target="_blank">Tactical Technology Collective</a>
    <span>|</span>
    <a href="/about">About</a>
  </div>
{% endblock %}
